.App {
  display: flex;
  flex-direction: column;
}

.App__header {
  background-color: grey;
  height: 75px;
}

.App__body {
  display: flex;
  flex-direction: row;
}

.Nav {
  width: 220px;
  background-color: lightgray;
  height: 100vh;
}
